<h2>All Pets for <%= @shelter.name %> Shelter</h2>
  <%@shelter.pets.each do |pet|%>
  <img src="<%=  pet.image %>" alt="<%= pet.image %>" style="width:200px">
  <h4>Name: <%= pet.name %></h4>
  <h4>Approximate Age: <%= pet.approximate_age %></h4>
  <h4>Sex: <%= pet.sex %></h4>
  </p>
  <% end %>
